* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section div ul li.actives a:hover {
  color: #1a9dbe;
}

/* sidebar  */
.container .row .sidebar{
  display: none;
}
@media (min-width: 768px) {
  .container .row .sidebar{
    display: block;
  }
}

/* .article-img{
    overflow: hidden;
}

.article-img img{
    transition: all 0.3s ease;
}
.article-img:hover img{
    transform: scale(1.1);
} */
