/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* fixed header scroll */
.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  z-index: 999;
}
.text-justify {
  text-align: justify;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background-color: #3a3a3b;

  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 45px;

  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;

  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.button a {
  /* background-color: #1a9dbe;
  max-width: 250px; */

  width: 170px;
  /* height: 100%; */
  border: 2px solid #1a9dbe;
  background-color: #1a9dbe;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button a:hover {
  /* background: #117994; */

  color: #1a9dbe;
  background: none;
}
/* content */
.navbar {
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s linear;
}
.content {
  background: url('img/cells-with-mitochondria.png') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(38, 128, 113, 0.3);

  padding: 150px;
}
.content h2 {
  line-height: 55px;
  font-size: 55px;
}

form .form-control {
  background: transparent;
}
form .form-control:focus {
  background: transparent;
}

/* event  */
.event {
  position: relative;
  top: -100px;
  background-color: white;
  z-index: 1;
}
/* mission */
.mission > div:last-child {
  background-color: #1a9dbe;
}
.mission div h2,
.goals div h2,
.activities h2,
.articles h2 {
  font-size: 40px;
  line-height: 45px;
}

/* article */
.articles h4 {
  font-size: 20px;
}
/* goals */
section.goals {
  margin-bottom: 100px;
}
/* featured articles */
.articles div a.nav-link {
  color: #1a9dbe;
}
.articles div a:hover {
  color: #117994;
}

/* activeties */

.activities > div > div {
  position: relative;
}
.bg-img {
  background-size: cover;
  background-position: center;
}
.activities .bg-img {
  height: 250px;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}
.activities > div > div:hover .bg-img {
  transform: rotateY(90deg);
}
.activities .hover {
  position: absolute;
  width: 95%;
  height: 100%;
  top: 0;
  left: auto;

  padding-top: 100px;
  font-size: 23px;
  background-color: #e2e3e4;
  text-align: center;
  opacity: 0;

  transition: all 0.3s ease;
}
.activities > div > div:hover .hover {
  opacity: 1;
}
.activities .hover .nav-link a {
  color: #1a9dbe;
}

.activities .hover .nav-link a:hover {
  color: #1288a5;
}

/* dien gia  */
.teams {
  padding-top: 50px;
  padding-bottom: 80px;
}
.teams .cover .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 0px;
  text-align: center;
  transition: all 0.3s ease;
  margin-left: 10px;
  width: 32.4%;
}
.teams .cover .card:hover {
  background: #1a9dbe;
}
.teams .cover .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.teams .cover .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #1a9dbe;
  transition: all 0.3s ease;
}
.teams .cover .card:hover img {
  border-color: white;
}
.teams .cover .card .box {
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.teams .cover .card:hover .box {
  transform: scale(1.05);
}

/* contact  */
.contact {
  margin: 70px auto;
}
.contact form .fields {
  display: flex;
}
.contact form .field,
.contact form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact form .textarea {
  height: 80px;
  width: 100%;
}
.contact form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact form .button-area {
  height: 47px;
  width: 170px;
}
.contact form .button-area button {
  width: 170px;
  height: 100%;
  border: 2px solid #1a9dbe;
  background-color: #1a9dbe;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact form .button-area button:hover {
  color: #1a9dbe;
  background: none;
}
.contact form .name {
  margin-right: 10px;
}
.contact form .email {
  margin-left: 10px;
}
.contact form .field input,
.contact form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  font-family: 'Poppins', sans-serif;
}

/* footer  */
footer div iframe {
  width: 100%;
}
/* events  */
.events .row {
  padding: 50px 0;
  border-bottom: 2px solid #cbcdce;
}
@media (max-width: 567px) {
  .events .row .col-lg-7 {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .activities .row .hover {
    width: 96.2%;
    /* opacity: 1; */
  }
  .teams .cover .card {
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  .content div div h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .activities .row .hover {
    width: 94.3%;
    /* opacity: 1; */
  }
  .teams .cover .card {
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
  }
}
